img {
  width: 28vh;
  margin: 1%;
}

h2 {
  margin-left: 1.5%;
}

.newnotesbutton {
  font-size: 14px;
  margin-left: 1.5%;
  padding: 15px;
}

#dashboardmessage p{
  color: black;
  text-align: center;
  font-size: 18px;
  margin-top: 10%;
}

.note-layout {
  padding: 1em;
  gap: 20px;
  display: flex;
  flex-flow: row wrap;
}

.note-item {
  background-color: rgb(230, 230, 230);
  border-radius: 0.7em;
  padding: 1em;
  flex-basis: auto;
  flex-grow: 5;
  flex-shrink: 5;
}

.note-edit-button {
  cursor: pointer;
}