html {
  background-color: #F8F8F8;
}

.columns{
  text-align: center;
  margin: 80px 10px 0px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  margin-bottom: 6%;
}

p {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.dontHaveAnAcc{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

label{
  margin-left: 23%;
  margin-bottom: 2%;
  text-align: left;
}

.form {
  display: grid;
  margin-bottom: 4%;
  margin-left: 8%;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 50%;
  justify-self: center;
  padding: 10px;
}

button {
  background-color: #FFD966; /* maybe we can do colour of the year? grey and yellow? */
  color: black;
  border: none;
  font-weight: bolder;
  text-align: center;
  padding: 10px 20px;
  margin-left: 5%;
}

.backContainer {
  background-image: url(../images/kanganote.png);
  background-position: center center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;

}

.info {
  min-height: 560px;
}